.banners {
    list-style: none;
}
.banner {
    display: inline-block;
	background: none;
    vertical-align: top;
    margin-right: 20px;
}

.banner img {
	border: 0;
	-webkit-box-shadow: 1px 2px 5px 0.6px #C1C5C8;
	-moz-box-shadow: 1px 2px 5px 0.6px #C1C5C8;
	box-shadow: 1px 2px 5px 0.6px #C1C5C8;
}